<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Job Postings
  </h3>
  <p class="mt-1 text-sm text-gray-500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit quam corrupti consectetur.
  </p>
</div>

