<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col flex-grow border-r border-gray-200 pt-5 pb-4 bg-white overflow-y-auto">
  <div class="flex items-center flex-shrink-0 px-4">
    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-600-mark-gray-800-text.svg" alt="Workflow">
  </div>
  <div class="mt-5 flex-grow flex flex-col">
    <nav class="flex-1 px-2 space-y-1 bg-white" aria-label="Sidebar">
      <div>
        <!-- Current: "bg-gray-100 text-gray-900", Default: "bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
        <a href="#" class="bg-gray-100 text-gray-900 group w-full flex items-center pl-7 pr-2 py-2 text-sm font-medium rounded-md">
          Dashboard
        </a>
      </div>

      <div class="space-y-1">
        <button class="bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pr-2 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
          <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
          <svg class="mr-2 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
          </svg>
          Team
        </button>
        <!-- Expandable link section, show/hide based on state. -->
        <div class="space-y-1">
          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Overview
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Members
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Calendar
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Settings
          </a>
        </div>
      </div>

      <div class="space-y-1">
        <button class="bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pr-2 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
          <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
          <svg class="mr-2 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
          </svg>
          Projects
        </button>
        <!-- Expandable link section, show/hide based on state. -->
        <div class="space-y-1">
          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Overview
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Members
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Calendar
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Settings
          </a>
        </div>
      </div>

      <div class="space-y-1">
        <button class="bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pr-2 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
          <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
          <svg class="mr-2 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
          </svg>
          Calendar
        </button>
        <!-- Expandable link section, show/hide based on state. -->
        <div class="space-y-1">
          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Overview
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Members
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Calendar
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Settings
          </a>
        </div>
      </div>

      <div class="space-y-1">
        <button class="bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pr-2 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
          <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
          <svg class="mr-2 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
          </svg>
          Documents
        </button>
        <!-- Expandable link section, show/hide based on state. -->
        <div class="space-y-1">
          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Overview
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Members
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Calendar
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Settings
          </a>
        </div>
      </div>

      <div class="space-y-1">
        <button class="bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group w-full flex items-center pr-2 py-2 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
          <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
          <svg class="mr-2 h-5 w-5 transform group-hover:text-gray-400 transition-colors ease-in-out duration-150" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
          </svg>
          Reports
        </button>
        <!-- Expandable link section, show/hide based on state. -->
        <div class="space-y-1">
          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Overview
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Members
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Calendar
          </a>

          <a href="#" class="group w-full flex items-center pl-10 pr-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50">
            Settings
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>

