<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200">
  <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
    <h3 class="ml-2 mt-2 text-lg leading-6 font-medium text-gray-900">
      Job Postings
    </h3>
    <p class="ml-2 mt-1 text-sm text-gray-500 truncate">in Engineering</p>
  </div>
</div>

