<!-- This example requires Tailwind CSS v2.0+ -->
<div class="border-b border-gray-200">
  <div class="sm:flex sm:items-baseline">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Issues
    </h3>
    <div class="mt-4 sm:mt-0 sm:ml-10">
      <nav class="-mb-px flex space-x-8">
        <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
        <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
          Open
        </a>

        <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
          Closed
        </a>
      </nav>
    </div>
  </div>
</div>

