<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200">
      <h2 class="text-center text-3xl font-extrabold text-gray-900 sm:text-4xl">
        Frequently asked questions
      </h2>
      <dl class="mt-6 space-y-6 divide-y divide-gray-200">
        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button class="text-left w-full flex justify-between items-start text-gray-400">
              <span class="font-medium text-gray-900">
                What&#039;s the best thing about Switzerland?
              </span>
              <span class="ml-6 h-7 flex items-center">
                <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12">
            <p class="text-base text-gray-500">
              I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button class="text-left w-full flex justify-between items-start text-gray-400">
              <span class="font-medium text-gray-900">
                How do you make holy water?
              </span>
              <span class="ml-6 h-7 flex items-center">
                <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12">
            <p class="text-base text-gray-500">
              You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.
            </p>
          </dd>
        </div>

        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button class="text-left w-full flex justify-between items-start text-gray-400">
              <span class="font-medium text-gray-900">
                What do you call someone with no body and no nose?
              </span>
              <span class="ml-6 h-7 flex items-center">
                <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12">
            <p class="text-base text-gray-500">
              Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.
            </p>
          </dd>
        </div>

        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button class="text-left w-full flex justify-between items-start text-gray-400">
              <span class="font-medium text-gray-900">
                Why do you never see elephants hiding in trees?
              </span>
              <span class="ml-6 h-7 flex items-center">
                <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12">
            <p class="text-base text-gray-500">
              Because they&#039;re so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
            </p>
          </dd>
        </div>

        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button class="text-left w-full flex justify-between items-start text-gray-400">
              <span class="font-medium text-gray-900">
                Why can&#039;t you hear a pterodactyl go to the bathroom?
              </span>
              <span class="ml-6 h-7 flex items-center">
                <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12">
            <p class="text-base text-gray-500">
              Because the pee is silent. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
            </p>
          </dd>
        </div>

        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button class="text-left w-full flex justify-between items-start text-gray-400">
              <span class="font-medium text-gray-900">
                Why did the invisible man turn down the job offer?
              </span>
              <span class="ml-6 h-7 flex items-center">
                <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12">
            <p class="text-base text-gray-500">
              He couldn&#039;t see himself doing it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

