<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white">
  <div class="h-56 bg-indigo-600 sm:h-72 lg:absolute lg:left-0 lg:h-full lg:w-1/2">
    <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Support team">
  </div>
  <div class="relative max-w-7xl mx-auto px-4 py-8 sm:py-12 sm:px-6 lg:py-16">
    <div class="max-w-2xl mx-auto lg:max-w-none lg:mr-0 lg:ml-auto lg:w-1/2 lg:pl-10">
      <div>
        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
          <!-- Heroicon name: users -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
          </svg>
        </div>
      </div>
      <h2 class="mt-6 text-3xl font-extrabold text-gray-900 sm:text-4xl">
        Deliver what your customers want every time
      </h2>
      <p class="mt-6 text-lg text-gray-500">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore nihil ea rerum ipsa. Nostrum consectetur sequi culpa doloribus omnis, molestiae esse placeat, exercitationem magnam quod molestias quia aspernatur deserunt voluptatibus.
      </p>
      <div class="mt-8 overflow-hidden">
        <dl class="-mx-8 -mt-8 flex flex-wrap">
          <div class="flex flex-col px-8 pt-8">
            <dt class="order-2 text-base font-medium text-gray-500">
              Delivery
            </dt>
            <dd class="order-1 text-2xl font-extrabold text-indigo-600 sm:text-3xl">
              24/7
            </dd>
          </div>
          <div class="flex flex-col px-8 pt-8">
            <dt class="order-2 text-base font-medium text-gray-500">
              Pepperoni
            </dt>
            <dd class="order-1 text-2xl font-extrabold text-indigo-600 sm:text-3xl">
              99.9%
            </dd>
          </div>
          <div class="flex flex-col px-8 pt-8">
            <dt class="order-2 text-base font-medium text-gray-500">
              Calories
            </dt>
            <dd class="order-1 text-2xl font-extrabold text-indigo-600 sm:text-3xl">
              100k+
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

