<!-- This example requires Tailwind CSS v2.0+ -->
<ul class="divide-y divide-gray-200">
  <li class="py-4 flex">
    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
    <div class="ml-3">
      <p class="text-sm font-medium text-gray-900">Calvin Hawkins</p>
      <p class="text-sm text-gray-500">calvin.hawkins@example.com</p>
    </div>
  </li>

  <li class="py-4 flex">
    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
    <div class="ml-3">
      <p class="text-sm font-medium text-gray-900">Kristen Ramos</p>
      <p class="text-sm text-gray-500">kristen.ramos@example.com</p>
    </div>
  </li>

  <li class="py-4 flex">
    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
    <div class="ml-3">
      <p class="text-sm font-medium text-gray-900">Ted Fox</p>
      <p class="text-sm text-gray-500">ted.fox@example.com</p>
    </div>
  </li>
</ul>

