<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="space-y-1" aria-label="Sidebar">
  <!-- Current: "bg-gray-200 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
  <a href="#" class="bg-gray-100 text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md" aria-current="page">
    <span class="truncate">
      Dashboard
    </span>

    <!-- Current: "bg-white", Default: "bg-gray-100 group-hover:bg-gray-200" -->
    <span class="bg-white ml-auto inline-block py-0.5 px-3 text-xs rounded-full">
      5
    </span>
  </a>

  <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
    <span class="truncate">
      Team
    </span>
  </a>

  <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
    <span class="truncate">
      Projects
    </span>

    <span class="bg-gray-100 group-hover:bg-gray-200 ml-auto inline-block py-0.5 px-3 text-xs rounded-full text-gray-600">
      19
    </span>
  </a>

  <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
    <span class="truncate">
      Calendar
    </span>

    <span class="bg-gray-100 group-hover:bg-gray-200 ml-auto inline-block py-0.5 px-3 text-xs rounded-full text-gray-600">
      20+
    </span>
  </a>

  <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
    <span class="truncate">
      Documents
    </span>
  </a>

  <a href="#" class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
    <span class="truncate">
      Reports
    </span>
  </a>
</nav>

