<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-50 sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Need more bandwidth?
    </h3>
    <div class="mt-2 max-w-xl text-sm text-gray-500">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus praesentium tenetur pariatur.
      </p>
    </div>
    <div class="mt-5">
      <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Contact sales
      </button>
    </div>
  </div>
</div>

