<!-- This example requires Tailwind CSS v2.0+ -->
<!-- Be sure to use this with a layout container that is full-width on mobile -->
<div class="bg-white overflow-hidden shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
</div>

