<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white overflow-hidden shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
  </div>
  <div class="bg-gray-50 px-4 py-4 sm:px-6">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>

