<!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <ul class="divide-y divide-gray-200">
    <li class="py-4">
      <div class="flex space-x-3">
        <img class="h-6 w-6 rounded-full" src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" alt="">
        <div class="flex-1 space-y-1">
          <div class="flex items-center justify-between">
            <h3 class="text-sm font-medium">Whitney Francis</h3>
            <p class="text-sm text-gray-500">1h</p>
          </div>
          <p class="text-sm text-gray-500">Deployed Workcation (2d89f0c8 in master) to production</p>
        </div>
      </div>
    </li>

    <!-- More items... -->
  </ul>
</div>

